
@font-face {
    font-family: 'ApfelGrotezk';
    src: url('./src/fonts/web/ApfelGrotezk-Fett.woff');
    font-family: 'ApfelGrotezk-Regular';
    src: url(./src/fonts/web/ApfelGrotezk-Regular.woff);
}

/*HEADER WITH NAV MENU*/
header{
    position: sticky;
    z-index: 0;
    border: 0.5px solid;
}

.wrapperHead{
    display: grid;
    grid-template-columns: 50% 50%;
}

.right{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoHead{
    max-width: 5vw;
    margin-left: 3vw;
}
li{
    list-style: none;
    text-decoration: none;
    margin-left: 8vw;
}

ul{
    font-weight: 900;
    z-index: 9999;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    
}

a{
    text-decoration: none;
    color: aliceblue;
}

/*HOMEPAGE*/

.wrapperHomepage{
    margin-top: 5vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

h1.mainTitle{
    max-width: 80vh;
    font-weight: 900;
}
h2{
    font-weight: 600;
}

.halfLeft{
    margin-top: 10vw;
    margin-left: 2vw;
    justify-content: center;
    align-items: center;
}

.gifMain{
    width: 40vw;
}

.test{
    background: blue;
}


body{
    font-family: 'ApfelGrotezk';
    margin: 0;
    padding: 0;
    background: #000;
    color: aliceblue;
}

h2{
    font-family: 'ApfelGrotezk-Regular';
}


button{
    width: 15vw;
    height: 4vh;
    text-align: center;
    background:rgba(24, 62, 232);
    border: 0;
    font-size: 1.2em;
    border-radius: 20px;
    color: aliceblue;
}

button:hover{
    transition-duration: 0.2s;
    background:rgba(24, 62, 232, 0.70);

}
